body {
    font-family: Tahoma;
}

.header {
    margin: auto auto;
    width: 90%;
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-gap: 20px;
}

.navigation {
    margin: auto auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.category {
    border: medium solid #666;
    text-align: center;
    padding: 20px;
}

.category a {
    text-decoration: none;
    font-size: x-large;
}

.category-list {
    width: 90%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr;
}

.character-view {
    padding-top: 20px;
    width: 50%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.character-info {
    display: grid;
    grid-template-columns: 125px 3fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

input {
    height: 25px;
}

input[type="button"] {
    width: 125px;
}

#create {
    filter: brightness(85%);
}

.menu-item {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    border-right: 1px solid #bbb;
    margin: 0;
    padding: 15px;
    text-align: center;
    background-color: #dddddd;
}

.menu-item a {
    text-decoration: none;
    color: #666;
}

.menu-item:last-child {
    border-right: none;
}

.menu-item:hover, .active, .selected {
    background-color: #4CAF50;
}

footer {
    text-align: center;
}